<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title th:remove="all">Template for HTML email (simple)</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    </head>
    <body>
    Hey there,
        <p th:text="${name}"></p>
  		<br />
  		<p>
  			Forgot your password?  Not to worry, click the link below to create a new one.
  			<br />
  			<a th:href="${url}">Password Reset</a>
  		</p>
		<br />
            Regards, <br />
            &emsp; <em>The STRIVE. Team</em>
    </body>
</html>